<div class="contain">
    <div class="container">
      <h1 class="title">
          <span class="numero">02. </span> A propos<span class="trait"></span>
        </h1>
        <div class="container-total">
          <div class="contain-description">
            <p class="description">
              Hello! Au cour de ma formation j'ai pris goût à déveloper des sites et application web.
              Mon intéré pour le dévelopement web à commencé quant j'ai du déveloper un site pour un restaurant.
              j'ai ainsi decidé de me reconvertir dans le dévelopement web.
            </p>
            <div class="contain-techno">
              Voilla ou j'en suis après ma formation :
              <div class="skills-list">
                <ul class="list1">
                  <li>Html</li>
                  <li>JavaScript (ES6+)</li>
                  <li>React</li>
                  <li>Angular</li>
                </ul>
                <ul class="list2">
                  <li>Css</li>
                  <li>Node.js</li>
                  <li>Express</li>
                  <li>TypeScript</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="contain-image">
            <div class="image">
              <img src="../../assets/images/jacques.c.jpg" alt="jacques caradi" />
            </div>
          </div>
        </div>
    </div>
  </div>
