<div class="contain">
    <h1 class="title"><span class="numero">03.</span>Portfolio <span class="trait"></span> </h1>
    <div class="contain-project">
        <div class="project project1"> 
            <h3 class="title-project">project1</h3>
            <span classe="trait-project"></span>
        </div>
        <div class="project project2"> 
                <h3 class="title-project">project2</h3>
                <span classe="trait-project"></span>
        </div>
        <div class="project project3"> 
                <h3 class="title-project">project3</h3>
                <span classe="trait-project"></span>
        </div>
        <div class="project project4"> 
                <h3 class="title-project">project14</h3>
                <span classe="trait-project"></span>
        </div>
    </div>
</div>
