*,::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --font-family: 'Roboto', sans-serif;
    --font-title: 'Raleway', sans-serif;
    --primary: #0a192f;
    --secondary: #8892b0;
    --accent: #ff6c37;
    --lightgray : #ccd6f6;
    --transition: all .25s cubic-bezier(0.645, .045, .355, 1);
}

body {
    font-family: var(--font-family);
    font-size: 62.5%;
    font-weight: 100;
}

h1,
h2,
h3,
h4 {
    font-family: var(--font-title);
}